#Build Folder
Debug/
Release/

#Tonyu Temp File
Temp/

#Tonyu Kernel Temp File
Cookies.ini
sig

#YellowMusicPlayer files Folder file
eff_midi.txt
ogg_sig.dat
YMPStatus.dat

#GuruGuruSMF File
GuruGuruSMF.chm
GuruGuruSMFreadme.txt

#Project File
midiplayer2.vwp
midiplayer2_2.bdp

#other
Thumbs.db
