body {
  background-color:#FFFFFF;
  color:#000000;
  font-family:"ÉÅÉCÉäÉI",Verdana,Arial,Helvetica,sans-serif; 
  font-size:x-small;
  line-height:120%;
}

a {
  line-height:140%;
}

h2 {
  line-height:120%;
}

table {
  font-size:x-small;
  line-height:120%;

}

strong {
  color:#FF0000;
  font-weight:normal;
}

pre {
  border:solid;
  border-width:1px;
  border-color:#808080;
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  background-color:#EEFFEE;
  font-size:x-small;
}

.green {
  background-color:#DDFFDD;
}

dt {
  margin-top:15px;
  margin-bottom:0px;
  font-weight:bold;
}